.btn {
  @apply
  relative
  inline-block
  align-top
  min-w-[100px]
  2xl:min-w-[150px]    
  rounded-[8px]
  bg-primary
  text-white
  border
  border-transparent
  text-center
  text-[15px]
  lg:text-[16px]
  xl:text-[18px]
  leading-normal
  font-normal
  py-3
  md:py-3.5
  xl:py-4
  px-5
  md:px-6
  xl:px-7
  transition-all
  ease-in-out 
  whitespace-normal
  cursor-pointer

  hover:bg-white
  hover:text-primary
  hover:border-primary
  ; 
}