/**
 * Custom styles to immediately follow Tailwind’s `utilities` layer
 *
 * Add your own utility classes to this theme. Complex utility classes should
 * be added using Tailwind’s plugin system:
 *
 * https://tailwindcss.com/docs/plugins#adding-utilities
 */

.section-tag {
	@apply text-ss-pink
	font-medium
	uppercase
	pb-3
	leading-[1.11];
}

.benefit-accordion .active {
	@apply bg-white;
}

.vitality-accordion .active {
	@apply
	relative;
}

.vitality-accordion .active::before {
	@apply content-['\e908']
	absolute
	right-6
	top-5
	lg:top-4
	font-icomoon;
}

.faq-accordion .active {
	@apply relative;
}
.faq-accordion .active::before {
	@apply content-['\e908']
	absolute
	top-3
	right-0
	font-icomoon;
}

.tab-header.selected {
	@apply bg-ss-pink
	[&_p]:text-white
	[&_p]:font-bold
	[&_p]:opacity-100
	[&_i]:text-white;
}

.counter-increment {
	counter-reset: item;
}

.list-number:before {
	counter-increment: item+1;
	content: counter(item,decimal-leading-zero);
}
